// $font-open: 'Open Sans', sans-serif;
// $font-mont: 'Montserrat', sans-serif;
$font-light: 'Heebo', sans-serif;
$font-strong: 'Fjalla One', sans-serif;
$font-cursive: 'Lobster', cursive;

$primary-color: #fff;
$secondary-color: #FED700;
$link-hover-color: rgb(207, 207, 207);
$form-bg-color: #2E2E2E;
